body{
    font-family: 'Nanum Myeongjo', serif;
}
h1 {
    color:cornflowerblue;
    border:solid 1px pink;
}

.menu {
    color: plum;
    border: solid 1px purple;
}

#title{
    color: royalblue;
}

#fav{
    color:slateblue;
}