html{
    font-size: 100%;
    font-family: monospace;
}

body{
    background-color: yellow;
    margin: 1em;
}

.container{
    background-color: rgba(153, 205, 50, 0.527);
    width: 500px;
    border-style: dashed;
    border-color: white;
}

.container img{
    float: right;
    width: 300px;
}

.container p{
    clear: right;
}
